{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
<style>
    .nav-general {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<header>
    <img src="https://zupimages.net/up/21/02/d5yc.png" alt="" class="img-dwarf">
    <img class="grass" src="https://zupimages.net/up/21/02/jl0c.png" alt="grass">
    <img src="https://zupimages.net/up/21/02/d5yc.png" alt="" class="img-dwarf">
    <img class="logo-petit-pedestre" src="https://zupimages.net/up/21/02/ysft.png" alt="logo-petit-pedestre">
    <div class="nav-menu">
        <a href="{{ path('home') }}" class="path">Home</a>
        <a href="{{ path('product') }}" class="path">Produits</a>
        <a href="#" class="path">Blog</a>
        <button class="login">Login</button>
        <button class="signup">Sign Up</button>
        <a href="#" class="cart-cart cart-nav"><i class="fas fa-shopping-cart "></i></a>
    </div>
    <p class="sentence">
        Tout pour votre jardin,
        à portée de nain</p>
</header>

</div>
<div class="container-fluid ">
    <p class="sectionHome">Les plus populaires</p>

</div>
<div class="container-fluid contain-home-card">
    {% for product in products %}

    <a class="aled-link" href="{{ path('product_show', {'slug': product.slug }) }}">
        <div class="card-dwarf green" style="background-color: {{ product.color.hexadecimal }};">
            <p class="title-card">{{ product.name }}</p>
            <p class="heart"><i class="far fa-heart"></i></p>
            <p class="number-like">{{ product.rate }}</p>
            <img class="img-product" src="{{ product.picture[0].url }}">
            <div class="container-prix">
                <p class="price">{{ product.price }}€</p>
            </div>
        </div>
        {% endfor %}
</div>
<hr>
<div class="container-fluid">
    <img class="dwarf-picture-gold" src="https://zupimages.net/up/21/02/gova.png" alt="dwarf-description">
</div>
{% endblock %}